textarea {
    display: block;
    padding: 1rem 1rem;
    margin: 1rem 1rem;
    width: 80%;
    height: 10vh;
}

#txt-output {
    border: 1px solid darkslategray;
    padding: 1rem 1rem;
    margin: 1rem 1rem;
    width: 80%;
    height: 10vh;
}